/* Write your code here. */
.bg-container {
  background-color: #0f172a;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f8fafc;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto";
}
.image {
  height: 200px;
  width: 200px;
}
